includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#Unsafe usage of new static#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics

    excludePaths:
        - ./*/*/FileToBeExcluded.php
