name: Larastan

on:
  push:
    paths:
      - '**.php'
      - 'phpstan.neon'
      - 'composer.json'
  pull_request:
    types: [ ready_for_review, synchronize, opened ]

jobs:
  larastan:
    name: larastan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ hashFiles('composer.json') }}
          restore-keys: composer-

      - name: Run composer install
        run: composer install --prefer-dist --no-interaction --no-suggest

      - name: Run Larastan
        run: ./vendor/bin/phpstan --error-format=github
